.logo {
    width: 22rem;
    height: auto;
}

.players-font {
    color: #883FB4;
    font-size: 2.2857rem;
}

.play-font{
    color: #ffffff;
    font-size: 2.85rem;
    text-shadow: 0px 3px 5px rgba($color: #000000, $alpha: .5);
}

.copiar{
    height: 1.5rem;
    width: auto;
    cursor: pointer;
}

#invitar-amigos {
    color: #ffffff;
}

#background {
    background-image: url('../../../../storage/app/public/background-home.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.background-players {
    height: 46rem;
    width: 100%;
    background-color: white;
    border-radius: 20px;
}

.background-instructions {
    height: 35rem;
    width: 100%;
    background-color: white;
    border-radius: 20px;
}

.background-code{
    background-color: white;
    border-radius: 20px;
    padding: 1.5rem;
}