.swal2-custom
{
    -webkit-border-radius: 20px !important; 
    -moz-border-radius: 20px !important; 
    border-radius: 20px !important; 
    height: 300px;
    width: 300px;
    font-family: "Lilita One", sans-serif;
}


.swal2-custom-success 
{ 
    border: solid 8px #66BA13;
    color: black;
}
.swal2-custom-error 
{ 
    border: solid 8px #FD6F5A;
    color: black;
}
.swal2-custom-info 
{ 
    border: solid 8px #2993BA;
    color: black;
}