.swal2-custom-success { 
    -webkit-border-radius: 20px !important; 
    -moz-border-radius: 20px !important; 
    border-radius: 20px !important; 
    border: solid 8px #66BA13;
    height: 300px;
    width: 300px;
    font-family: "Lilita One", sans-serif;
}